
{% set repos_path="/srv/repos" %}
{% set git_path="{0}/git".format(repos_path) %}
{% set hg_path="{0}/hg".format(repos_path) %}

{% set repos = salt['grains.filter_by']({
    'default': {
        'user': 'repos',
        'group': 'repos',

        'repos_path': repos_path,

        'git_path': git_path,
        'git_user': 'git',

        'hg_path': hg_path,
        'hg_user': 'hg',

    },
}, merge=salt['pillar.get']('repos:lookup')) %}
